<div id="petition-container", class="col-xs-8">
  <div id="petition">
		<h1>New Petition</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @petition %> |
		<%= link_to 'Back', petitions_path %>
  </div>
</div>