/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

html {
	height: 100%;
}

input, textarea {
	width: 100%;
}

textarea {
	height: 9em;
	overflow-y: scroll;
}

.date {
	font-size: 0.7em;
	color: #ddd;
	text-align: left;
	border-bottom: 1px dotted #ddd;
	max-width: 100%;
	display: inline-block;
	position: relative;
	top: -1em;
}

.signum {
	display: inline-block;
	float: right;
	position: relative;
}

.description {
	margin-top: 3em;
}

#petition-container {
	float: none;
	margin: auto;
	border: 1px solid #ddd;
	padding: 2em;
	margin-top: 5em;
}