/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

html {
	height: 100%;
}

input, textarea {
	width: 100%;
}

textarea {
	height: 9em;
	overflow-y: scroll;
}

.date {
	font-size: 0.7em;
	color: #ddd;
	text-align: left;
	border-bottom: 1px dotted #ddd;
	max-width: 100%;
	display: inline-block;
	position: relative;
	top: -1em;
}

.signum {
	display: inline-block;
	position: relative;
}

.description {
	margin-top: 3em;
}

#petition-container {
	float: none;
	margin: auto;
	border: 1px solid #ddd;
	padding: 0em 2em 2em 2em;
	margin-top: 5em;
}

#footer {
	text-align: center;
	padding: 30px 0px;
	border-top: 1px solid #e5e5e5;
	background-color: whitesmoke;
	left: 0;
	bottom: 0;
	position: relative;
	width: 100%;
	margin-top: 2em;
}


#pagename {
	margin: auto;
	float: none;
	margin-top: 5em;
	margin-bottom: -4em;
	margin-left: 13em;
}

#user-menu {
	margin-top: 0.6em;
	margin-right: 0.8em;
	height: 100%;

}

#user-menu .btn {
	color: white;
	background-color: #464646;
	border-color: #626568;
	border-radius: 0;
	height: inherit;
	border-left: 0.1em solid rgb(10, 255, 0);
}

#user-menu ul.dropdown-menu {
	left: auto;
	width: 100%;
	top: 2.5em;
	border-radius: 0;
	background-color: #424242;
	color: white;
}

#user-menu ul.dropdown-menu li a {
	color: white;
}

#user-menu ul.dropdown-menu li a:hover {
	background: #000;
}

.user-avatar img {
	max-height: 1.7em;
	max-width: 2em;
	margin-right: 0.3em;
	border-right: 0.1em solid rgb(10, 255, 0);
}

.user-avatar, .user-name {
	display: inline-block;
}
