<div id="footer">
	<small>
		<%= link_to "Activize", "https://github.com/DeadSuperHero/Activize" %> is a project by
		by <%= link_to "DeadSuperHero", "https://github.com/DeadSuperHero" %>
	</small>
</div>